# Database Configuration
MONGO_URI=mongodb+srv://username:password@cluster.mongodb.net/dbname

# JWT Configuration
JWT_SECRET=your_jwt_secret_key_here

# Google Gemini AI Configuration
GOOGLE_GENAI_API_KEY=your_google_genini_api_key_here

# Frontend URL
FRONTEND_URL=http://localhost:5173

# Node Environment
NODE_ENV=development

# Server Port
PORT=3000
